* {
    background-color: rgb(16, 12, 29);
    padding: 0;
    margin: 0;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 3000px 30px;
    color: cyan;
    grid-gap: 5px;
  }
  
  .header {
    grid-column-start: 3;
    grid-column-end: -1;
    font-size: 70px;
    font-family: "Roboto Mono", monospace;
    text-align: center;
  }
  
  .menu {
    grid-row-start: 1;
    grid-row-end: 3;
    position: fixed;
  }
  #navmenu {
    margin: 10px;
  }
  #navmenu {
    padding: 0px;
  }
 
  #navmenu > li {
    list-style-type: none;
    padding: 10px 20px;
    margin: 10px 10px;
  }
  #navmenu > li > a {
    text-decoration: none;
    color: rgb(185, 216, 194);
    font-size: 30px;
    font-family: "Roboto Mono", monospace;
  }
  #navmenu > li > a:hover {
    color: cyan;
  }
  
  .content {
    grid-column-start: 4;
    grid-column-end: -1;
    display: grid;
    grid-template-rows: 1000px 1000px 1000px;
   
  }
  
  #code{
    margin: 20px 0px;
    border: 2px solid red;              /*  remove */
    padding: 38px 53px;
  }
  #code>h2{
    font-size: 4rem;
    text-align: center;
  }
  #code>p{
    font-size: 30px;
  }
  
  #explain{
    margin: 20px 0px;
    border: 2px solid red;              /*  remove */
    padding: 38px 53px;
  }
  #explain>h2{
    font-size: 4rem;
    text-align: center;
  }
  #explain>p{
    font-size: 30px;
  }

  #complex{
    margin: 20px 0px;
    border: 2px solid red;              /*  remove */
    padding: 38px 53px;
  }
  #complex>h2{
    font-size: 4rem;
    text-align: center;
  }
  #complex>p{
    font-size: 30px;
  }
  
  .footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  
